<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<title>{% block title %}{% endblock %}</title>

		{% block head %}

		{% endblock %}
		<style>
			body {
				background-color: #ffffff;
				color: #111111;
			}

			.dark { 
				background-color: #111111; 
				color: #ffffff; 
			}
		</style>

		<script>
			function swap() {
				var element = document.body; 
				element.classList.toggle("dark"); 
			}
		</script>
	</head>
	<body>  

		<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
			<!-- <button class="btn btn-light" onclick="swap()">Dark Mode</button> -->

			<a class="navbar-brand" href="/"></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<!-- {% if current_user.is_authenticated %}
					<li class="nav-item">
						<a href="/to_do" class="nav-link">Tasks</a>
					</li>
					{% endif %} -->
					{% if not current_user.is_authenticated %}
					<li class="nav-item">
						<a href="/" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a href="/login" class="nav-link">Login</a>
					</li>
					<li class="nav-item">
						<a href="/register" class="nav-link">Register</a>
					</li>
					{% endif %}
					{% if current_user.is_authenticated %}
					<li class="nav-item">
						<a href="/logout" class="nav-link">Logout</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>		
		
		{% block body %}

		{% endblock %}

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>